@model ProjectGoal
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<h2>Create Goal for </h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateGoal">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="goalText" class="control-label"></label>
                <input asp-for="goalText" class="form-control" />
                <span asp-validation-for="goalText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="projectID" class="control-label"></label>
                <input asp-for="projectID" class="form-control" value="@ViewData["ProjectID"]" readonly="true"/>
                <span asp-validation-for="projectID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="CreateGoal" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="ViewProject" asp-route-id="@ViewData["ProjectID"]">Back to List</a>
</div>
