
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="projectheader">
    <div class="media">
        <div class="media-left">
            <img img-thumbnail" src="~/images/dyi.png" style="height:100px;" />
        </div>
        <div class="media-body" style="vertical-align:middle;">
            <h3 class="media-heading">Interractive CV Project</h3>
        </div>
    </div>
</div>
<div class="jumbotron">
    <div class="media">
        <div class="media-body">
            <h2 class="media-heading">Description</h2>
            <p>This project is about creating a website using C#, Visual Studio 2017, .NET Core, ASP.NET. This website will be an Interractive CV version of my original Word version CV and will contain additional
            information about me, my hobbies, activities, personality and skills. The project's goal is to learn .NET Core, ASP.NET and even improve my front-end capabilities, to create my personal website/repository for my skills,
            activities, projects, hobbies and education description. This project also will be availabe to people, firstly on Azure Websites and later on on my own domain and hosting.
            I want this project to be as robust and easy-to-use for myself as possible. This will include storing data in a database and pull that information across my website to
            minimize the code I need to write after it is complete. This is no easy task, but a challange is always accepted!</p>
        </div>
    </div>
</div>

<div class="jumbotron">
    <div class="media">
        <div class="media-body">
            <h2 class="media-heading">Goals</h2>
            <p>The idea is to create a website to act as my interractive CV project.</p>
            <p>
                <span class="glyphicon glyphicon-expand"></span>
                The website should have a main page, a skills page, an about page, a contact me option and a login option just for authorised people (only me at this point).
            </p>
            <p>
                <span class="glyphicon glyphicon-expand"></span>
                The main page should have a top slideshow to show information about me. It should also have 4 sections: Skills, Current projects (including this one),
                hobbies and education. The skills section should have a link to the skills page. The projects section should have links to project pages and description.
                The education tab should have my degree and all modules that I have taken in the University.
            </p>
            <p>
                <span class="glyphicon glyphicon-expand"></span>
                The skills page should have a table with all the skills in it with experience, short description and a link displayed with it. The link should be an optional field. In the
                skills page a user needs to be able to search for specific skills and be able to reset the search filter. Logged in users are able to add more skills to the database and they
                should be displayed for the user on next visit of the page.
            </p>
            <p>
                <span class="glyphicon glyphicon-expand"></span>
                The about page should have a description what this concrete project is about and what tools were used to create it.
            </p>
            <p>
                <span class="glyphicon glyphicon-expand"></span>
                The contact me option should have ways to contact me with: LinkedIn, E-mail or phone(optional).
            </p>
            <p>
                <span class="glyphicon glyphicon-expand"></span>
                Projects need to be loaded from a database an the ability to add more when logged in should also be available.
            </p>
            <p>
                <span class="glyphicon glyphicon-expand"></span>
                Project editing should have the options to add goals, updates and updates entries. Options to edit text of goals, update entries
                and delete them as well.
            </p>
            <p>
                <span class="glyphicon glyphicon-expand"></span>
                When updating entries, there should be an option to change update number. Let's say to move an update entry from update 1 to update 2.
            </p>

        </div>
    </div>
</div>
<div class="well" style="background-color: #428bca;">
    <div class="media">
        <div class="media-body">
            <h3 class="media-heading">Update 1</h3>
            <p>The update logs go here</p>
        </div>
    </div>
</div>
